<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}OC Platform - CoreBundle {% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}

</head>

<body>
<div class="main-nav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="{{ path('oc_core_homepage') }}" class="nav-link active">HOME</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('oc_core_contact') }}" class="nav-link active">CONTACT</a>
        </li>
    </ul>
    <div class="right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Connected as {{ app.user.username }}
            -
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Connection</a>
        {% endif %}
    </div>
</div>



<div class="container">
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>All adverts</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('oc_platform_home') }}">Home</a></li>ower time
                <li><a href="{{ path('oc_platform_add') }}">Add a new advert</a></li>
            </ul>

            <h4>Latest adverts created</h4>

            {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
        <div id="content" class="col-md-9">
            {% block occore_body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
        <p>Developer doing the job: {{ developer }}.</p>
    </footer>
</div>

{% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>