{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <div>
        {% for message in app.session.flashbag.get('info') %}
            <p>Flash message: {{ message }}</p>
        {% endfor %}
    </div>
    <h2>List of adverts saved</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>None advert saved.</li>
        {% endfor %}
    </ul>

    <ul class="pagination">
    {% for p in range(1, nbPages) %}
        <li {% if p == page  %} class="active" {% endif %}>
            <a href="{{ path('oc_platform_home', {'page': p }) }}">{{ p }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}