{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de l'annonce {{ advert.id }}</title>
    </head>

    <body>
    <a href="{{ path("oc_platform_home") }}">Home</a>
        <h1>Hello Annonce n°{{ advert.id }} !</h1>

        {% if advert.image is not null %}
            <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
        {% endif %}
    </body>
</html>
